$color: #00cc99;

.header {
  height: 200px;
  background-color: #5a8ace;
}

.footer {
  height: 200px;
  background-color: #dd386c;
}

.box {
  width: 100px;
  height: 100px;
  background-color: rgb(247, 136, 11);
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
